@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

@import "base/variables";

* {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/buttons";

@import "blocks/media";