.btn {
    width: 187px;
    height: 62px;
    background-color: #F05670;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: 0.5s all;
    &:hover {
        background-color: #105154;
        box-shadow: -3px 3px 10px #F05670;
        color: #F05670;
    }
}