@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .brands {
        padding: 0 0 18px 0;
        &__wrapper {
            justify-content: space-around;
        }
        &__logo {
            margin: 18px 10px 0 10px;
        }
    }
    .interview {
        padding: 50px 0;
        &__block {
            margin-top: 20px;
            &:last-child {
                margin: 20px auto 0 auto;
            }
        }
        &__left {
            width: 515px;
            height: 419px;
        }
    }
    .projects {
        padding-bottom: 80px;
        &__wrapper {
            margin-top: 25px;
            justify-content: space-around;
        }
        &__block {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        min-height: 620px;
        &__block {
            flex-direction: column;
            &_links {
                margin-top: 20px;
            }
        }
        &__right {
            svg {
                width: 400px;
                height: 350px;
            }
        }
    }
    .interview {
        padding: 50px 0;
        &__block {
            &:last-child {
                margin: 20px 0 0 0;
            }
        }
        &__left {
            width: 380px;
            height: 310px;
        }
        &__right {
            width: 280px;
            &_title {
                font-size: 23px;
                line-height: 30px;
            }
            &_descr {
                width: 255px;
            }
        }
        &__btn {
            margin-top: 40px;
            width: 220px;
            height: 60px;
        }
    }
    .projects {
        padding-bottom: 50px;
        &__wrapper {
            margin-top: 10px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        min-height: 500px;
        padding: 25px 0 35px 0;
        &__block {
            position: relative;
            &_links {
                width: 500px;
            }
        }
        &__btn {
            &-first {
                position: absolute;
                top: 140px;
                left: 50%;
                transform: translateX(-50%);
                width: 167px;
                height: 50px;
            }
        }
        &__wrapper {
            flex-direction: column;
            margin-top: 120px;
            height: 345px;
        }
        &__left {
            width: 450px;
            text-align: center;
            &_descr {
                position: relative;
                z-index: 1;
                font-weight: bold;
            }
        }
        &__right {
            position: relative;
            top: -170px;
        }
        &__btn {
            position: relative;
            z-index: 1;
            width: 180px;
            height: 55px;
        }
    }
    .interview {
        padding: 35px 0;
        &__block {
            &:last-child {
                margin: 20px auto 0 auto;
            }
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
            height: 400px;
        }
        &__left {
            margin-top: 70px;
        }
        &__right {
            position: relative;
            top: -365px;
            width: 425px;
            text-align: center;
            &_title {
                font-size: 23px;
                line-height: 30px;
            }
            &_descr {
                width: 370px;
                margin: 25px auto 0 auto;
                color: #000;
                font-weight: bold;
                span {
                    color: #F05670;
                }
            }
        }
    }
    .projects {
        &__title {
            font-size: 28px;
            line-height: 35px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        &__block {
            &_links {
                width: 290px;
            }
            &_link {
                &-tel {
                    span {
                        position: absolute;
                        top: 130px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 1;
                        margin-left: 0;
                    }
                }
            }
        }
        &__btn {
            &-first {
                top: 170px;
            }
        }
        &__wrapper {
            margin-top: 150px;
            height: 300px;
        }
        &__left {
            width: 290px;
            &_title {
                font-size: 25px;
                line-height: 30px;
            }
        }
        &__right {
            svg {
                width: 290px;
                height: 241px;
            }
        }
    }
    .interview {
        padding: 25px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            height: 400px;
        }
        &__blocks {
            align-items: center;
            justify-content: center;
        }
        &__left {
            margin-top: 180px;
            width: 290px;
            height: 272px;
        }
        &__right {
            position: relative;
            top: -408px;
            width: 280px;
            text-align: center;
            &_title {
                margin: 0 auto;
                width: 260px;
            }
            &_descr {
                width: 250px;
                margin: 25px auto 0 auto;
                color: #000;
                font-weight: bold;
                span {
                    color: #F05670;
                }
            }
        }
    }
    .projects {
        padding: 20px 0 30px 0;
        &__block {
            margin-left: 0;
            margin-right: 0;
            padding: 20px 10px;
        }
    }
}